! special
*.foreground:   #dddddd
*.background:   #000000
*.cursorColor:  #dddddd

! black
*.color0:       #292d3e
*.color8:       #434758

! red
*.color1:       #ff8288
*.color9:       #ff8b92

! green
*.color2:       #b4e88d
*.color10:      #ddffa7

! yellow
*.color3:       #f4d69f
*.color11:      #ffe585

! blue
*.color4:       #82aaff
*.color12:      #9cc4ff

! magenta
*.color5:       #e9c1ff
*.color13:      #ddb0f6

! cyan
*.color6:       #89ebff
*.color14:      #a3f7ff

! white
*.color7:       #d0d0d0
*.color15:      #ffffff



*.font:	Liberation Mono:pixelsize=15:antialias=true:autohint=true;
*.alpha: 0.8
